<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Crud gRPC with Express</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="top-wrapper">
            <div class="top-detail">
                <h2 class="subtitle">Crud gRPC with Express</h2>
                <h1 class="title"><a class="code-here" href="https://github.com/mhambali920/grpc-nodejs">Code here!</a></h1>
                <p class="description">Aplikasi crud sederhana backend Express js dengan mengaplikasikan gRPC</p>
                <div class="subtitle">
                    Service yang tersedia :
                    <ul class="list-service">
                        <li>
                            UserService
                            <ul class="sublist-service">
                                <li>GetUsers</li>
                                <li>GetUser</li>
                                <li>AddUser</li>
                                <li>UpdateUser</li>
                                <li>DeleteUser</li>
                            </ul>
                        </li>
                        <li>
                            PostService
                            <ul class="sublist-service">
                                <li>GetPosts</li>
                                <li>GetPost</li>
                                <li>AddPost</li>
                                <li>UpdatePost</li>
                                <li>DeletePost</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a href="/users" class="index-button">Lihat daftar user</a>
                <br />
                <a href="/posts" class="index-button">Lihat daftar post</a>
            </div>
            <div class="top-image">
                <img src="/images/top.svg" />
            </div>
        </div>
    </body>
</html>
